#education
{
    background-color: #bf2f2f;
}

#educationHeading
{
    position: absolute;
    font-size:70px;
    top:70px;
    width:75%;
    left:15%;
    text-align: center;
    color:white;
}

#education .row
{
    position: absolute;
    width:70%;
    left:15%;
    top:220px;
    height: 60%;
    justify-content: center;
}

#education .image
{
    position: relative;
    width: 30%;
    height: 70%;
    top:20%;
    margin-right: 50px;
}
#educationWaterlooHeading
{
    position: absolute;
    top:-50px; left:0;
    width:90%;
    margin-left:10%;
    text-align: center;
    font-size: 30px;
    color:white;
}

#educationText
{
    width: 40%;
    height: 100%;
    font-size: 20px;
    justify-content: center;
    color:white;
}
#educationText li
{
    margin:5px;
}

#waterlooImage
{
    background-image: url('../images/education.jpg');
}

@media screen and (min-height:900px)
{
    #educationWaterlooHeading
    {
        top: 0px;
    }
}